body{background-image: url(https://images.unsplash.com/photo-1534430480872-3498386e7856?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8&w=1000&q=80);
background-repeat: no-repeat;}
div{border-color: black;}
h2{text-align: center;
text-size-adjust: 20px;
margin-left: auto; margin-right: auto;
font-style: italic;
font-family: 'Lucida Sans';
background-color: black;
}
.col-4{font-weight: bold;}