body {
  background-image: url(https://images.unsplash.com/photo-1534430480872-3498386e7856?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8&w=1000&q=80);
}

h2 {
  text-align: left;
  text-size-adjust: 20px;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  font-family: "Lucida Sans";
  background-color: black;
  color: grey;
  padding-top: 10px;
}
.navigation {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
nav {
  font-family: "Copperplate Gothic Light";
  font-weight: bold;
  background: rgb(207, 206, 206);
  opacity: 85%;
  height: 80px;
  width: 100%;
}
.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 150px;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 40px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  padding: 7px 14px;
  border-radius: 3px;
}
a.active,a:hover{
  background: rgb(179, 176, 176);
  transition: 0.5s;
    
}
